@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
 :focus{
     outline: none;
 }
.clearfix::after{
    content: '';
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;

}
/*=======REUSEABLE COMPONENTS=====*/
/*=======REUSEABLE COMPONENTS=====*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 70px 0;
    
}
h2{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
    position: relative;
}
 h2::before{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   height: 5px;
   width: 100px;
   transform: translate(-50%,-50%);
   background-color: #14a58c;
   margin-top: 40px;
}
/*=======REUSEABLE COMPONENTS=====*/
/*=======REUSEABLE COMPONENTS=====*/

/*##########HEADER#########*/
header{
    background:  url(../image/boy.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
    z-index: 1;
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #87509cd6;
    z-index: -1;
}
.logo{
    height: 35px;
    width: auto;
    float: left;
    margin-top: 35px;
}
.main-nav{
    float: right;
    margin-top: 40px;
    
}
.main-nav li{
    display: inline-block; 
    margin-left: 10px;
}
.main-nav li:first-child{
    margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    padding: 5px 16px;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    transition: .3s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background: #643a79;
    
}
.active{
    background: #643a79;
    border-radius: 7px;
}
/*###########===STICKY MENU==#########*/
.sticky{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: #87509cd6;
   padding: 10px 0;
   z-index: 9999;
}
.sticky .logo{
    margin-top: 0;
}
.sticky .main-nav{
    margin-top: 4px;
}
/*###########===STICKY MENU==#########*/
.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 1140px;
}
.hero-text-box h1{
    color: #fff;
   
}
.btn{
    color: #fff;
    background-color: #eb7d4b;
    border-bottom: 3px solid #c86a40;
    border-radius: 5px ;
    padding: 16px 40px;
    display: inline-block;
    margin-top: 20px;
}    
/*#######3333=MOBILE MENU DESIGN==##########3333*/
.mobile-menu span{
    color: #fff;
    font-size: 40px;
    float: right;
    margin-top: 35px;
    display: none;
   
}
.mobile-menu span:hover{
     cursor: pointer;
}
.overlay{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.overlay-content{
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}
.overlay-content a {
    display: block;
    font-size: 25px;
    color: #999;
    letter-spacing: 3px;
    padding: 15px 0;
    transition: .5s;
}
.overlay-content a:hover{
    color: #fff;
    background: #273a71;
}
.close-btn{
    color: #fff;
    font-size: 50px;
    position: absolute;
    right: 18px;
    top: 0px;
}
/*#######3333=MOBILE MENU DESIGN==##########3333*/
/*####======service section+====#####*/
 .service-section{
     background: url(../image/man.webp) no-repeat center top;
     background-size: cover;
     color: #fff;
     text-align: center;
     background-attachment: fixed;
     position: relative;
     z-index: -1;
 }   
 .service-section::before{
     content: '';
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     background: #17c2a4d9 ;
     z-index: -1;
 }

 .litile-description{
     width: 60%;
     margin-left: 20%;
     font-size: 18px;
     line-height: 30px;
     padding: 20px 0;
 }
 .service-icon{
     height: 120px;
     margin-top: 40px;
     margin-bottom: 30px;
 }
 .box h3{
     font-size: 24px;
     font-weight: 400;
     letter-spacing: 5px;
 }
 .box p{
     font-size: 16px;
     line-height: 1.5;
     padding: 15px 10px;
 }
/*####======service section+====#####*/

/*##############===TEAM++====#########*/
/*##############===TEAM++====#########*/
.team-section{
    background: #e7f1f8;
    text-align: center;
    color: #3c4761;
    padding: 80px 0px;
}
.team-member{
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.team-member h3{
    color: #27283d;
}
 span{
    display: block;
    color: #000;
    margin-top: 10px;
    font-size: 16px;
}
.social-link{
    margin-top: 35px;
}
.social-link ul li{
    display: inline-block;
    margin: 0 5px;
}
.social-link ul li a{
    color: #000;
    background-color: #bdd1df;
    height: 15px;
    width: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}


/*##############===TEAM++====#########*/
/*##############===TEAM++====#########*/


/*##############===PROGRESS BAR++====#########*/
/*##############===PROGRESS BAR++====#########*/
.skill-section{
    background: url(../image/progress.jpeg) no-repeat  ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: aliceblue;
    position: relative;
    z-index: -1;
}
.skill-section::before{
    content: '';
    position: absolute;
    height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     background: #3c4761eb;
     z-index: -1;
}
.skill-section .box{
    margin-top: 25px;
}

/*##############===PROGRESS BAR++====#########*/
/*##############===PROGRESS BAR++====#########*/

/*##############===PORTFOLIO++====#########*/
 .portfolio{
     background: url(../image/new-img.jpeg) no-repeat;
     background-position: center;
     background-size: cover;
     text-align: center;
     position: relative;
     background-attachment: fixed;
    
 }
 .portfolio h2{
     color: #fff;
 }
 .portfolio p{
     color: #fff;
 }
 .portfolio-filter{
     margin: 30px 0;
 }
 .portfolio-filter button{
     background: #ebc985;
     font-size: 18px;
     text-transform: uppercase;
     padding: 10px 20px;
     border: 0;
     border-radius: 5px;
     color: #3c4761;
     margin: 5px 5px;
     transition: .3s;

} 
 .portfolio-filter button:hover{
     cursor: pointer;
     box-shadow: inset 0 3px 3px #3c4761;
 }
 .portfolio-img{
     width: 100%;
     height: auto;
 }
 .portfolio .col:nth-child(3){
     margin-left: 0;
 }
 .portfolio h4{
     margin-top: 15px ;
     font-weight: 200;
 }
 .portfolio .mixitup-control-active{
     background-color: #fff;
 }
 .testimonial{
     background:  #d98880 ;
     color: #fff;
     background-attachment: fixed;
    
 }
 .testimonial h2{
     text-align: center;
     color: #fff;
 }
 .testimonial p{
     text-align: center;
 }
 .testimonial .col:nth-child(3){
     margin-left: 0px;
 }
 .testimonial .col:nth-child(1),
 .testimonial .col:nth-child(2){
     margin-top: 40px;
 }
 .testimonial .col:nth-child(3),
 .testimonial .col:nth-child(4){
     margin-top: 40px;
     
 }
 .client-photo{
    width: 100px;
    float: left;
 }
 .client-photo img{
     height: 80px;
     border-radius: 50%;
     margin-left: 20px;
 }
 .client-review{
     width: 300px;
     float: left;
     font-style: italic;
     
 }
 
/*##############===PORTFOLIO ++====#########*/
.cantact-section {
    background: #3c5499;
    text-align: center;
}
.cantact-section h2{
    color: #fff;
}
.cantact-section p{
    color: #fff;
}
.cantact-section form{
    margin-top: 40px;
    width: 70%;
    margin: auto;
}
.cantact-section input[type="text"],
.cantact-section input[type="email"],
.cantact-section textarea{
    background: #273a71;
    border: 1px solid #273a71;
    width: 100%;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
}
.cantact-section form ::placeholder{
    color: #fff;
}
.btn-submit{
    padding: 16px 70px;
    background: red;
    border: 1px solid #000;
    font-size: 20px;
    margin-top: 40px;
    color: white;
    cursor: pointer;
   
}
footer{
    background: #273a71;
    border-top: 1px solid #000;
    padding: 30px 0;
    text-align: center;
}
footer ul li{
    display: inline-block;
    margin: 0 20px;
}
footer ul li a{
    color: #fff;
    text-transform: capitalize;
    font-size: 24px;
}
footer ul li a:hover{
    color: #000;
    transition: .4s;
}